name: Test and Deploy (Functions Action)

on:
  pull_request:
    branches: [ main ]

  workflow_dispatch:

env:
  RESOURCE_GROUP: mo-delete
  SLOT_NAME: stagging
  AZURE_FUNCTIONAPP_NAME: mo-test-func
  AZURE_FUNCTION_PROJ_PATH: './src'
  AZURE_FUNCTION_TEST_PATH: './test'
  AZURE_FUNCTION_PUBLISH_PATH: './'
  DOTNET_VERSION: '6.0'

jobs:

  build:
    runs-on: ubuntu-latest
    
    steps:    
      - name: Get the latest source code commit
        uses: actions/checkout@v2

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
        
      - name: Restore
        run: dotnet restore
        working-directory: ${{ env.AZURE_FUNCTION_PROJ_PATH }}

      - name: Build
        run: dotnet build --no-restore --configuration Release
        working-directory: ${{ env.AZURE_FUNCTION_PROJ_PATH }}
      
      - name: Publish For Deployment
        run: dotnet publish --configuration Release --output ./publish
        working-directory: ${{ env.AZURE_FUNCTION_PROJ_PATH }}

      - name: Upload artifact for testing and deployment
        uses: actions/upload-artifact@v3
        with:
          name: mo-test-func
          path: ${{ env.AZURE_FUNCTION_PROJ_PATH }}/publish
      
  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Get the latest source code commit
        uses: actions/checkout@v2

      - name: Restore
        run: dotnet restore
        working-directory: ${{ env.AZURE_FUNCTION_TEST_PATH }}
      
      - name: Build
        run: dotnet build --no-restore
        working-directory: ${{ env.AZURE_FUNCTION_TEST_PATH }}
      
      - name: Test
        run: dotnet test --no-restore
        working-directory: ${{ env.AZURE_FUNCTION_TEST_PATH }}

  # set-up-test-env:
  #   name: Create test env
  #   runs-on: ubuntu-latest
  #   needs: [build]
  #   steps:
  #     - name: Log into Azure CLI with service principal
  #       uses: azure/login@v1.1
  #       with:
  #         creds: ${{ secrets.AZURE_CREDENTIALS }}
  #     - name: Create slot on staging site
  #       run: az functionapp deployment slot create --resource-group $RESOURCE_GROUP  --name $AZURE_FUNCTIONAPP_NAME --slot $SLOT_NAME
  
  deploy:
    name: Deploy to test env
    runs-on: ubuntu-latest
    needs: [build, test]
    # environment:
    #   name: ${{ env.SLOT_NAME }}
    #   url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    # permissions:
    #   pull-requests: write  

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: ${{ env.AZURE_FUNCTIONAPP_NAME }}

      - name: Log into Azure CLI with service principal
        uses: azure/login@v1.1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }} 
          
      - name: Deploy to slot on staging site
        uses: Azure/functions-action@v1
        id: deploy-to-webapp
        with: 
          app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
          slot-name:  ${{ env.SLOT_NAME }}
          package: ${{ env.AZURE_FUNCTION_PUBLISH_PATH }} 
      # - name: Comment on PR with the preview link
      #   uses: mshick/add-pr-comment@v1
      #   with:
      #     message: |
      #       ## Preview link: https://${{ env.AZURE_FUNCTIONAPP_NAME }}-${{env.SLOT_NAME }}.azurewebsites.net  
      #       - Your changes have been deployed to the preview site. The preview site will update as you add more commits to this branch.
      #       - The preview link is shareable, but will be deleted when the pull request is merged or closed.
      #       > *This is an automated message.*
      #     repo-token: ${{ secrets.GITHUB_TOKEN }}
      #     repo-token-user-login: 'github-actions[bot]'





  # deploy:
  #   runs-on: ubuntu-latest
  #   needs: [build, test]
  #   environment:
  #     name: stagging
    
  #   steps:
  #     - name: Download artifact from build job
  #       uses: actions/download-artifact@v2
  #       with:
  #         name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
      
  #     - name: 'Run Azure Functions Action'
  #       uses: Azure/functions-action@v1
  #       id: fa
  #       with:
  #         app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
  #         package: ${{ env.AZURE_FUNCTION_PUBLISH_PATH }}
  #         publish-profile: ${{ secrets.AZURE_FUNCTION_PUBLISH_CREDS }}
